<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h4>New User</h4>
    <p>See user details below</p>
    <hr />
    <h3><strong>Name of Person:</strong> <%-name%></h3>
    <hr />
    <h3><strong>Email Address:</strong> <%-email%></h3>
    <hr />
    <h3><strong>Phone:</strong> <%-phone%></h3>
    <hr />
    <h3><strong>Prefered Location:</strong> <%-selection%></h3>
  </body>
</html>
